.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  gap: 1rem;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  background-color: #fcfcfc;
  padding: 1rem;
  border-radius: 10px;
}

.card-header {
  text-align: center;
}

.svg {
  width: 4rem;
  height: 4rem;
}
.card-p {
  text-align: center;
}

#services {
  padding: 100px 0px 0px 0px;
}

/* .card-bg {
  background-color: red;
} */
@media screen and (max-width: 712px) {
  .card-container {
    display: flex;
    justify-content: center;
  }
}
