@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.faq-header {
  color: #303030;
  text-align: center;
  margin-bottom: 1rem;
}

.text-container {
  margin-bottom: 2rem;
}

#faq {
  padding: 100px 0px 0px 0px;
}

details {
  background-color: #303030;
  color: #fff;
  font-size: 1.5rem;
}

summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
  word-wrap: break-word;
}
