.slider-container {
  display: flex !important;
  align-items: center;
  padding-bottom: 50px;
  justify-content: space-between;
  flex: 1;
}

.tag {
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  font-size: 2.4vw;
}
.img-container {
  width: 50%;
  position: relative;
}

.imgslider {
  padding-top: 20px;
  margin: 0 20px;
}

.header-container h1 {
  color: #444;
  /* font-size: 64px; */
  font-weight: 800;
}

.header-container h1:last-child {
  color: #3a89a9;
}

.slide-img {
  /* margin: auto; */
  /* width: 100%; */
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.circle-one {
  z-index: 1;
  position: absolute;
  top: 25%;
  background: rgb(195, 215, 223);
  background: linear-gradient(
    90deg,
    rgba(195, 215, 223, 1) 0%,
    rgba(1, 127, 176, 1) 100%
  );
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, 0);
  box-shadow: rgb(1 127 176 / 15%) 60px 60px 60px 60px;
}
.circle-two {
  position: absolute;
  top: 90%;
  bottom: 0;
  background: rgb(195, 215, 223);
  background: linear-gradient(
    90deg,
    rgba(195, 215, 223, 1) 0%,
    rgba(58, 137, 169, 1) 100%
  );
  height: 5rem;
  width: 5rem;
  border-radius: 50px;
  left: 60%;
  box-shadow: rgb(1 127 176 / 15%) 8px 8px 8px 8px;
}

.slider-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
}
.slider-paragraph {
  padding: 25px 0 25px 0;
  width: 85%;
  line-height: 1.6;
}
.header-three {
  color: #3a89a9;
}
.ust {
  display: block;
}
.alt {
  display: none;
}

.slick-prev:before {
  color: #01648b;
  display: none;
}
.slick-next:before {
  color: #01648b;
  display: none;
}

/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
} */
@media screen and (max-width: 768px) {
  .circle-two {
    transform: translate(0, -35%);
    height: 4rem;
    width: 4rem;
  }
  .img-container {
    width: 80%;
  }
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .slider-text {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .ust {
    display: none;
  }
  .alt {
    display: block;
    margin-top: 10px;
    margin-top: 80px;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 3vw;
  }
  .slider-paragraph {
    text-align: justify;
  }
}
